[Desktop Entry]
Encoding=UTF-8
Name=Stronghands
Comment=Core wallet for Stronghands P2P Cryptocurrency
Comment[de]=Offizieller Client für die Kryptowährung Stronghands
Exec=/usr/bin/stronghands-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/stronghands128.png
MimeType=x-scheme-handler/stronghands;
Categories=Application;Network;
